/* Layout styles
-------------------------------------------------- */

body {
    background: url('../images/forest.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

body,
.navbar-default,
.footer,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li >a {
    color: #fff!important;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
}

.navbar-default {
    background: rgba(0, 0, 0, 0.13);
    border: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a.active {
    text-decoration: underline;
}

.navbar-default .navbar-nav>li>a {
    color: #eaeaea;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #bfbfbf;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.navbar-default .navbar-toggle {
    background-color: #fff;
}

.text-muted,
.text-muted a,
.text-muted a:hover {
    color: #d0d0d0;
}

blockquote footer,
blockquote small {
    color: #4c4c4c;
    text-shadow: none;
}

.footer {
    background: none;
    border: none;
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    color: #fff;
}

.btn-default:active,
.btn-default:hover,
.btn-default:active:hover {
    color: #fff;
    background-color: #ce7f5e;
    border-color: #AD684B;
    transition: all .05s ease-in-out;
    text-shadow: none;
}

.btn-default {
    text-shadow: none;
    color: #AD684B;
    background-color: #fff;
    border-color: #AD684B;
}

.btn-info {
    color: #fff;
    background-color: #ce7f5e;
    border-color: #AD684B;
    transition: all .05s ease-in-out;
    text-shadow: none;
}

.btn-info:hover,
.btn-info:active,
.btn-info:hover:active {
    text-shadow: none;
    color: #AD684B;
    background-color: #fff;
    border-color: #AD684B;
}

@media (max-width: 768px) {
    .navbar-default {
        background: rgba(0, 0, 0, 0.7);
    }
}


/* Home page styles
-------------------------------------------------- */
.home-root h1 {
    margin-top: 20%;
}

/* About page styles
-------------------------------------------------- */


/* Portfolio page styles
-------------------------------------------------- */


/* Project details page styles
-------------------------------------------------- */


/* Contact page styles
-------------------------------------------------- */

.contact-root .angular-google-map-container {
    height: 400px;
}

.contact-root .communication-channels {
    margin: 30px 0;
}

.contact-root .channel {
    margin: 0 30px;
    display: inline-block;
    vertical-align: top;
}

.contact-root .channel p {
    font-size: 1.6rem;
}

.contact-root .communication-channels a,
.contact-root .communication-channels a:hover {
    color: #fff;
}