<nav class="navbar navbar-default navbar-fixed-top navigation-root">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-class="{ 'collapsed': !collapsed }" aria-expanded="{{collapsed}}" aria-controls="navbar" ng-click="toggleNavigation()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#{{links[0].target}}">LOGO</a>
        </div><!-- .navbar-header -->

        <div id="navbar" class="navbar-collapse collapse" ng-class="{'in': !collapsed }" collapse="{{!collapsed}}">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="link in links">
                    <a ng-class="{ active: isActive(link.target)}" ng-click="closeNavigation()" href="#{{link.target}}">{{link.name}}</a>
                </li>
            </ul>
        </div><!-- #navbar -->
        
    </div><!-- .container -->
</nav>