<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio page">
    <meta name="author" content="Author">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <title>Angular Blueprint</title>

    <link rel="stylesheet" href="styles/styles.css?rev=@@hash">
</head>

<body>
    <nav navigation></nav>

    <main class="container">
        <div ng-view></div>
    </main>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy;{{CURRENT_YEAR}} Designed and created by <a href="mailto:{{EMAIL}}">Author</a>.</p>
        </div>
    </footer>

    <script src="scripts/vendor.js?rev=@@hash"></script>
    <script src="scripts/app.js?rev=@@hash"></script>
</body>

</html>