<div class="inner cover contact-root">

    <h1 class="cover-heading">Contact</h1>

    <div class="communication-channels">

        <div class="channel" ng-repeat="channel in contactCtrl.communicationChannels">
            <a target="{{channel.linkTarget}}" href="{{channel.link}}">
                <div class="btn btn-social-icon btn-lg btn-{{channel.class}}">
                    <span class="fa fa-{{channel.class}}"></span>
                </div>
                <p>{{channel.name}}</p>
            </a>
        </div><!-- .channel -->
    </div><!-- .communication-channels-->

   <!-- Google Map -->
    <ui-gmap-google-map bounds="contactCtrl.bounds" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker idKey='contactCtrl.marker.id' coords="contactCtrl.marker.coordinates" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>

</div><!-- .contact-root -->